.container {
    max-width: 70vw;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;

}

.content {
    min-width: 450px;
    width: 500px;
}


.name {
    font-size: 30px;
    font-weight: bolder;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 0;
    margin: 0;
}

.price {
    font-size: 25px;
    font-weight: bolder;
    color: #7e7e7e;
    margin: 0;
    padding: 0;
}

.description {
    font-size: 17px;
    padding: 0;
    margin: 50px 0;
    min-width: 70%;
}

.btn {
    background-color: #181818;
    color: white;
    font-size: 14px;
    padding: 10px 25px;
    border: none;
    border-radius: 3px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.329);
    cursor: pointer;
    transition: 0.2s;

    &:hover {
        transform: scale(1.02);
    }
}

@media(max-width: 940px) {
    .container {
        flex-direction: column;
    }
}

@media(max-width: 525px) {
    .container {
        max-width: 96vw;
    }

    .content {
        min-width: auto;
    }

    .image {
        width: 90vw;
        height: auto;
    }
}